= image_tag @pic.image.url
= image_tag @pic.image.url(:medium) 
= image_tag @pic.image.url(:thumb)
%h1= @pic.title
%p= @pic.description
%p
Pic by
= @pic.user.email

%br

= link_to "Back", root_path
= link_to "Edit", edit_pic_path
= link_to "Delete", pic_path, :method => :destroy
